@import "./components/assets/css/app.min.css";
@import "./components/assets/css/icons.min.css";
@import "./components/assets/css/vendor/jquery-jvectormap-1.2.2.css";

.object-fit {
  object-fit: contain;
}

.tasks {
  width: 17rem;
}
@media (min-width: 576px) {
  .dropdown-md {
    width: 240px;
  }
}
